.buttonLogin {
  padding: 6px 38px;
  border-radius: 10px;

  font-size: 24px;

  background-color: var(--color-input);
  color: var(--color-main);

  &:hover {
    outline: solid 3px var(--color-text-secondary-1);
  }
}

.avatar {
  display: none;

  img {
    height: 55px;
    width: 55px;
    border-radius: 50%;
  }
}

@media (max-width: 1500px) {
  .buttonLogin {
    padding: 4px 18px;
    border-radius: 5px;

    font-size: 16px;
  }

  .avatar {
    img {
      height: 37px;
      width: 37px;
    }
  }
}

@media (max-width: 800px) {
  .buttonLogin {
    padding: 3px 13px;
    border-radius: 5px;

    font-size: 12px;

    &:hover {
      outline: solid 1px var(--color-text-secondary-1);
    }
  }

  .avatar {
    img {
      height: 26px;
      width: 26px;
    }
  }
}

@media (max-width: 600px) {
  .buttonLogin {
    padding: 3px 7px;
    border-radius: 3px;

    font-size: 10px;
  }

  .avatar {
    img {
      height: 22px;
      width: 22px;
    }
  }
}
