.bg {
  padding: 100px 0 40px;

  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("@/background.jpg") repeat-x;
  background-size: auto 100%;
}

.helloFrame {
  position: relative;

  width: 850px;
  padding: 44px 33px 52px;
  border: 5px solid var(--color-text);
  border-radius: 57px;

  background-color: var(--color-main);

  text-align: center;

  // logo
  img {
    height: 115px;
    position: absolute;
    left: calc(50% - 115px / 2);
    top: -75px;

    border: 5px solid var(--color-text);
    border-radius: 20px;

    background-color: var(--color-main);
  }

  h1 {
    font-size: 64px;
  }

  p {
    margin: 10px 0 20px;
    font-size: 24px;
  }

  b {
    font-weight: 800;
    font-stretch: condensed;
    font-size: 32px;
  }
}

@media (max-width: 1500px) {
  .bg {
    padding: 53px 0 33px;
  }

  .helloFrame {
    grid-column-start: 5;
    width: 408px;
    padding: 20px 10px 25px;

    border: 2px solid var(--color-text);
    border-radius: 30px;

    img {
      height: 56px;
      left: calc(50% - 56px / 2);
      top: -48px;

      border: 2px solid var(--color-text);
      border-radius: 10px;
    }

    h1 {
      font-size: 32px;
    }

    p {
      font-size: 14px;
    }

    b {
      font-size: 18px;
    }
  }
}
