.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-top: 10px;
  padding-bottom: 10px;
}

.leftBar {
  display: flex;
  gap: 5px;
}

.menuButton {
  display: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 35px;

  font-size: 24px;
}


@media (max-width: 1500px) {
  .header {
    padding-top: 6px;
    padding-bottom: 6px;
  }

  .navbar {
    gap: 20px;

    font-size: 16px;
  }
}


@media (max-width: 800px) {
  .navbar {
    gap: 10px;
    font-size: 12px;
  }
}


@media (max-width: 600px) {
  .menuButton {
    display: block;
  }

  .navbar {
    gap: 5px;

    a {
      display: none;
    }
  }
}
