.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-top: 10px;
  padding-bottom: 10px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 35px;

  font-size: 24px;

  button,
  input {
    border-radius: 10px;

    background-color: var(--color-input);

    font-size: 24px;
  }

  button {
    padding: 6px 38px;

    color: var(--color-main);

    &:hover {
      cursor: pointer;

      outline: solid 3px var(--color-text-secondary-1);
    }
  }
}

.searchInput {
  position: relative;

  &::after {
    content: url(@/search.svg);
    position: absolute;
    top: 4px;
    right: 15px;
  }

  input {
    width: 346px;
    height: 40px;
    padding-left: 15px;
    padding-right: 50px;

    color: var(--color-input-text);

    &:focus {
      outline: solid 3px var(--color-text-secondary-1);
    }
  }
}
