@use '/src/palette.scss' as *;
$hover-color: gray;

.centering {
  background-color: $nav-color;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 1920px;
  padding: 10px 100px;

  background-color: $nav-color;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 35px;

  font-size: 24px;

  button {
    padding: 6px 38px;

    &:hover {
      cursor: pointer;

      outline: solid 3px $hover-color;
    }
  }

  button,
  input {
    border: none;
    border-radius: 10px;

    background-color: #e8e8e8;

    font-family: "Roboto", sans-serif;
    font-size: 24px;
  }
}

.searchInput {
  position: relative;

  &::after {
    content: url(@/search.svg);
    position: absolute;
    top: 4px;
    right: 15px;
  }

  input {
    width: 346px;
    height: 40px;
    padding-left: 15px;
    padding-right: 50px;

    &:focus {
      outline: solid 3px $hover-color;
    }
  }
}
