.sidebar {
  padding: 20px;
  padding-right: 8px;

  width: 440px;

  height: 1400px; //удалить

  border-right: 1px solid var(--color-text);
  background-color: var(--color-bg-2);
}

.title {
  font-size: 13px;
  color: var(--color-text-secondary-1);
}

.threeSections {
  padding-top: 5px;
  padding-bottom: 5px;

  ul {
    padding-left: 12px;
  }
}

.item {
  border-radius: 5px;
  padding: 8px;

  font-size: 20px;

  &:hover {
    background-color: #242424;
  }
}

.section {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 10px;
    right: 5px;

    height: 21px;
    width: 21px;

    background: url(@/arrow.svg);
  }
}

.hiddenList {
  ul {
    display: none;
  }

  div {
    &::after {
      rotate: -90deg;
    }
  }
}
