.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;

  font-size: 24px;

}

.me {
  font-size: 16px;
  font-weight: 700;
  color: var(--color-text-secondary-2);
}

.footer {
  width: 1920px;
  padding: 60px 100px 140px;
}

.topBar {
  display: flex;
  justify-content: space-between;
  padding-bottom: 25px;
  border-bottom: 1px solid var(--color-text);
}

.networks {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.bottomBar {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}