.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;

  font-size: 24px;
}

.me {
  font-size: 16px;
  font-weight: 700;
  color: var(--color-text-secondary-2);
}

.footer {
  padding-top: 60px;
  padding-bottom: 140px;
}

.topBar {
  display: flex;
  justify-content: space-between;
  padding-bottom: 25px;
  border-bottom: 1px solid var(--color-text);
}

.networks {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.bottomBar {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}

@media (max-width: 1500px) {
  .navbar {
    gap: 25px;

    font-size: 16px;
  }

  .me {
    font-size: 12px;
  }

  .footer {
    padding-top: 25px;
    padding-bottom: 80px;
  }

  .topBar {
    padding-bottom: 15px;
  }

  .networks {
    gap: 10px;
     img {
      height: 26px;
     }
  }

  .bottomBar {
    padding-top: 12px;
  }
}
