.board {
  background-color: var(--color-bg-1);

  .title {
    hr {
      height: 10px;
      background: url(@/titleAfter.png) center/contain no-repeat;
    }
  }
  p + hr {
    height: 10px;
    background: url(@/pAfter.png) center/contain no-repeat;
  }
}

.classic {
  background-color: var(--color-bg-2);

  hr {
    height: 3px;
    background-color: var(--color-text);
  }
}

.paddings {
  padding: 50px 0 100px;
}

.positionItem {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.presentationImg {
  width: 100%;
  height: auto;
  padding: 0 3%;
}

.presentationText {
  text-align: center;

  p {
    font-size: clamp(18px, 2vmax, 36px);
  }

  p + hr {
    margin: 20px 0;
  }
}

.title {
  display: inline-block;
  margin-bottom: 37px;

  h2 {
    margin: 0 50px;
    font-size: 64px;
    font-weight: 800;
  }
}

@media (max-width: 1500px) {
  .classic {
    hr {
      height: 1px;
      background-color: var(--color-text);
    }
  }

  .paddings {
    padding: 25px 0 35px;
  }

  .presentationImg {
    max-width: 300px;
  }

  .presentationText {
    max-width: 450px;

    p {
      font-size: clamp(14px, 1.5vmax, 18px);
    }

    p + hr {
      margin: 5px 0;
    }
  }

  .title {
    margin-bottom: 15px;

    h2 {
      margin: 0 20px;
      font-size: clamp(28px, 3vmax, 32px);
    }
  }
}

@media (max-width: 600px) {
  .presentationImg {
    display: none;
  }

  .presentationText {
    grid-column: 1 / 13;
    padding: 0;
  }

  .title {
    margin-bottom: 10px;
  }
}
