.board {
  background-color: var(--color-bg-1);

  .title {
    hr {
      height: 10px;
      background: url(@/titleAfter.png) center/contain no-repeat;
    }
  }
  p + hr {
    height: 10px;
    background: url(@/pAfter.png) center/contain no-repeat;
  }
}

.classic {
  background-color: var(--color-bg-2);

  .title {
    hr {
      height: 3px;
      background-color: var(--color-text);
    }
  }
  p + hr {
    height: 1px;
    border: 2px solid var(--color-text);
  }
}

.paddings {
  padding: 57px 0 100px;;
}

.centeringItem {
  align-items: center;
}

.presentationImg {
  grid-column: span 3;
  width: 100%;
  height: auto;
}

.presentationText {
  grid-column: span 6;
  text-align: center;

  p {
    font-size: clamp(16px, 2vw, 36px);
  }

  p + hr {
    margin: 20px 0;
  }
}

.title {
  display: inline-block;
  margin-bottom: 37px;

  h2 {
    margin: 0 50px;
    font-size: 64px;
    font-weight: 800;
  }
}
