.centering {
  display: flex;
  justify-content: center;
}

.content {
  width: 1920px;
  padding: 0 100px;
}

.grid-layout {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 20px;
}

.header {
  position: sticky;
  z-index: 9999;
  background-color: var(--color-main);
  top: 0;
}

.active {
  text-decoration: underline;
}

@media (max-width: 1500px) {
  .content {
    width: 1366px;
    padding: 0 50px;
  }
}

@media (max-width: 800px) {
  .content {
    width: 768px;
    padding: 0 25px;
  }
}