.centering {
  display: flex;
  justify-content: center;
}

.content {
  width: 1920px;
  padding: 0 100px;
}

.grid-layout {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 20px;
}

.header {
  position: sticky;
  z-index: 9999;
  background-color: var(--color-main);
  top: 0;
}

.active {
  text-decoration: underline;
}

.button-icon {
  background: none;
  border: none;

  &:hover {
    outline: none;
  }
}

@media (max-width: 1500px) {
  .content {
    width: 1366px;
    padding: 0 50px;
  }
}

@media (max-width: 800px) {
  .content {
    width: 768px;
    padding: 0 25px;
  }
}

.markdown {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 30px 0;
  }

  p {
    font-weight: 300;
    font-size: 27px;
    margin-bottom: 15px;
  }

  a {
    color: revert;
  }

  strong {
    font-weight: 700;
  }

  ul {
    padding-left: 10px;
    list-style: inside;
  }

  li {
    margin: 10px 0;
  }

  blockquote {
    border-left: 5px solid var(--color-input-text);
    border-radius: 10px;
    margin: 0;
    padding: 16px 40px;

    background-color: var(--color-categories);
  }

  img {
    width: 40%;
    margin: auto;
  }

  table {
    width: 100%;
    margin-bottom: 20px;

    thead {
      th {
        font-weight: bold;
        text-align: left;
        border: none;
        padding: 10px 15px;
        background: var(--color-categories);
        font-size: 14px;
      }
      tr th:first-child {
        border-radius: 8px 0 0 8px;
      }
      tr th:last-child {
        border-radius: 0 8px 8px 0;
      }
    }

    tbody {
      td {
        text-align: left;
        padding: 10px 15px;
        font-size: 14px;
        vertical-align: top;
      }

      tr:nth-child(even) td {
        background: var(--color-categories);
      }

      tr td:first-child {
        border-radius: 8px 0 0 8px;
      }
      tr td:last-child {
        border-radius: 0 8px 8px 0;
      }
    }
  }
}
