//black-theme
$nav-color: #000000;

$main-text-color: #FFFFFF;
$one-help-text-color: #A9A9A9;
$two-help-text-color: #8D8D8D;


$one-main-color: #121212;
$two-main-color: #161616;

$categories-color: #2A2A2A;